.Dictionary h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.Dictionary section {
  background-color: #c8e3d4;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 10px, 20px, rgb(0 0 0 / 10%);
  margin: 20px 0;
}

.Dictonary input {
  width: 100%;
  padding: 6px 4px;
  border: 1px solid #ddd;
  color: #333;
}
.Dictionary hint {
  font-size: 11px;
  margin-top: 5px;
}

.Dictionary .button {
  background: #87aaaa;
  border-radius: 4px;
  color: white;
}
