.Dictionary section {
  background-color: #fed1ef;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 10px, 10px, rgb(0 0 0 / 10%);
  margin: 20px 0;
}

.Dictonary input {
  width: 100%;
  padding: 6px 4px;
  border: 1px solid #ddd;
  color: #333;
}
.Dictionary hint {
  font-size: 11px;
  margin-top: 5px;
}
