.Phonetic {
     margin-bottom: 20px 0;
}

.Phonetic a {
  border: 1px solid #ddd;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 20px;
  transition: all 150ms ease-in-out;
  font-size: 12px;
  border-radius: 20px;
  font-weight: bold;
}

.Phonetic a:hover {
  background: #87aaa9;
  color: white;
}

.Phonetic .text {
  opacity: 0.5;
  font-weight: bold;
}
